<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta http-equiv="X-UA-Compatible" content="ie=edge" />
        <!-- Compiled and minified CSS -->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" />
        <!-- Compiled and minified JavaScript -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue@2.6.8/dist/vue.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        <script src="./js/components/vueWysiwyg.js"></script>


        <link rel="stylesheet" href="./vueWysiwyg.css" />
        <link rel="stylesheet" href="./style.css" />
        <title>Mini Word Press</title>
    </head>

    <body>
        <div id="app" class="app">
            <!-- ----------------------------NAV BAR----------------------------------- -->
            <navbar-template 
                v-if="showNavbar" 
                v-bind:is-login="isLogin" 
                @show-login-form="position = 'loginForm'" 
                @back-to-home="showAllArticle"
                @show-my-articles="showMyArticle"
                @logout="logout" 
                @show-add-article-form="position = 'addArticleForm'"    
            >
            </navbar-template>

            <!-- ----------------------------LOGIN FORM----------------------------------- -->
            <login-template 
                v-if="position === 'loginForm'" 
                @submit-login="login" 
                @register-form="position = 'registerForm'"
            > 
            </login-template>

            <!-- --------------------REGISTER FORM----------------------------------- -->
            <register-template 
                v-if="position === 'registerForm'" 
                @submit-register="register"
            > 
            </register-template>

            <!-- ---------------UPDATE USER FORM-------------------------- -->
            <update-user-template
                v-if="position === 'updateUserForm'"
                v-bind:user-info="editUserData"
                @submit-new-user-info="updateUserToServer"
            >
            </update-user-template>

            <!-- -------------ADD ARTICLE FORM---------------- -->
            <add-article-form 
                v-if="position === 'addArticleForm'"
                v-bind:input="articleInput"
                @submit="submitNewPost()"
            > 
            </add-article-form>

            <!-- -------------------UPDATE ARTICLE FORM----------------------------- -->
            <update-article-form 
                v-if="position === 'updateArticleForm'" 
                v-bind:edit-article-data="editArticleData" 
                @submit-update-article-form="updateArticleToServer"
                @change-file-format="fileHandler"
            >
            </update-article-form>

            <!-- -----------------------SHOW ALL ARTICLE------------------------ -->
            <list-all-article 
                v-if="position === 'listAllArticle'" 
                v-bind:articles="articles" 
                v-bind:current-user-id="currentUserId" 
                @update-article="updateArticle"
                @delete-article="deleteArticleToServer"
                > 
            </list-all-article>

            <!-- --------------------SHOW PERSONAL ARTICLE---------------------- -->
            <user-article
                v-if="position === 'list-my-articles'"
                v-bind:articles="articles" 
                v-bind:current-user-id= "currentUserId" 
                @update-my-article="updateMyArticle"
                @delete-my-article="deleteMyArticleToServer"
                @update-my-profile="updateUserForm"
            >
            </user-article>

            <!-- -------------------UPDATE MY ARTICLE FORM------------------------ -->
            <update-article-form 
                v-if="position === 'updateMyArticleForm'" 
                v-bind:edit-article-data="editMyArticleData" @submit-update-article-form="updateMyArticleToServer"
            >
            </update-article-form>

        </div>

        

        <!-- ──────────────────────────NAV BAR─────────────────────────────────────── -->
        <script src="./js/components/navbar.js"></script>
        <!-- ──────────────────────────LOGIN─────────────────────────────────────── -->
        <script src="./js/components/login.js"></script>
        <!-- ──────────────────────────REGISTER─────────────────────────────────────── -->
        <script src="./js/components/register.js"></script>
        <!-- ──────────────────────────UPDATE USER─────────────────────────────────────── -->
        <script src="./js/components/updateUser.js"></script>
        <!-- ──────────────────────────ADD ARTICLE────────────────────────────────── -->
        <script src="./js/components/addArticle.js"></script>
        <!-- ──────────────────────────UPDATE ARTICLE────────────────────────────────── -->
        <script src="./js/components/updateArticle.js"></script>
        <!-- ──────────────────────────UPDATE MY ARTICLE────────────────────────── -->
        <script src="./js/components/updateMyArticle.js"></script>
        <!-- ──────────────────────────LIST ARTICLE────────────────────────────────── -->
        <script src="./js/components/listArticle.js"></script>
        <!-- ──────────────────────────USER ARTICLE────────────────────────────────── -->
        <script src="./js/components/userArticle.js"></script>
        <!-- ─────────────────────────MAIN SCRIPT──────────────────────────────────────── -->
        <script src="./script.js"></script>


        <!-- ─────────────────────────FACEBOOK──────────────────────────────────────── -->
        
    </body>

    <div id="footer">
        <p id="footer-text">
            © 2019 Adoratorio _ P.IVA 03610560983 _ Privacy and Cookie
        </p>
    </div>
</html>