html {
    background-color: rgb(25, 25, 25);
}

#logo {
    margin-top: 5px;
}

#register-button {
    /* margin-top: 1rem; */
    top: 2rem;
    right: 0.7rem;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

#app {
    min-height: 748px;
}
app {
    flex: 1 0 auto;
}

#navbar {
    position: fixed;
    z-index: 1;
}

#greeting {
    /* margin-bottom: 1cm; */
}

#nama {
    margin-bottom: 1cm;
}

#add-article {
}

#add-article-header {
    color: white;
}

#form-add {
    /* border: 1px #18ffff solid; */
    margin-top: 5.5rem;
    margin-left: 7.5rem;
    background-color: #212121;
}

#form-register {
    margin-top: 9rem;
    background-color: #212121;
}

#form-login {
    margin-top: 10rem;
    background-color: #212121;
}

/* ─────[ADD ARTICLE FORM]───────────────────────────────────────────────────────────────── */

#title:focus {
    border-bottom: 1px solid #ffea00;
    box-shadow: 0 1px 0 0 #ffea00;
}

#title:focus + label {
    color: #ffea00;
}

#title {
    color: #e040fb;
}

#textarea:focus {
    border-bottom: 1px solid #ffea00;
    box-shadow: 0 1px 0 0 #ffea00;
}

#textarea:focus + label {
    color: #ffea00;
}

#textarea {
    color: #e040fb;
}

/* ─────[LOGIN FORM]───────────────────────────────────────────────────────────────── */
#username-input:focus {
    border-bottom: 1px solid #18ffff;
    box-shadow: 0 1px 0 0 #18ffff;
}

#username-input:focus + label {
    color: #18ffff;
}

#username-input {
    color: white;
    position: initial;

}

#password-input:focus {
    border-bottom: 1px solid #18ffff;
    box-shadow: 0 1px 0 0 #18ffff;
}

#password-input:focus + label {
    color: #18ffff;
}

#password-input {
    color: white;
}

/* ─────[UPDATE FORM]───────────────────────────────────────────────────────────────── */
#update-form {
    margin-top: 8rem;
}

#email-input {
    color: white;
}

#footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    /* background-color: grey; */
    color: white;
    text-align: center;
}

#footer-text {
    margin-top: 2px;
}

#show-article {
    z-index: -2;
    margin-top: 50px;
    margin-left: 280px;
}

#show-person-article {
    z-index: -2;
    margin-top: 50px;
    margin-left: 280px;
}

#card-content {
    margin: 1cm;
}

#person-profile {
    position: fixed;
    top: 0;
    margin-top: 24rem;
    margin-left: 63rem;
    width: 200px;
}

#update-lable {
    color: rgb(157, 156, 157);
}

#update-input {
    position: initial;
}

/* #my-signin2 {
    position: fixed;
    top:3rem;
} */